export(downscale)
export(plot.downscale)
export(predict.downscale)
export(ensemble.downscale)
export(upgrain)
export(hui.downscale)
export(upgrain.threshold)
exportClasses(predict.downscale)
exportClasses(downscale)
